<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="survey">
            <h2><span jhiTranslate="biodifulApp.survey.detail.title">Survey</span> {{survey.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="biodifulApp.survey.surveyName">Survey Name</span></dt>
                <dd>
                    <span>{{survey.surveyName}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.surveyDescription">Survey Description</span></dt>
                <dd>
                    <span>{{survey.surveyDescription}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.contactsDescription">Contacts Description</span></dt>
                <dd>
                    <span>{{survey.contactsDescription}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.friendlyURL">Friendly URL</span></dt>
                <dd>
                    <span>{{survey.friendlyURL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.photoURL">Photo URL</span></dt>
                <dd>
                    <span>{{survey.photoURL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.logosURL">Logos URL</span></dt>
                <dd>
                    <span>{{survey.logosURL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.formURL">Form URL</span></dt>
                <dd>
                    <span>{{survey.formURL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.challengersPool1URL">Challengers Pool 1 URL</span></dt>
                <dd>
                    <span>{{survey.challengersPool1URL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.challengersPool2URL">Challengers Pool 2 URL</span></dt>
                <dd>
                    <span>{{survey.challengersPool2URL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.challengersPool3URL">Challengers Pool 3 URL</span></dt>
                <dd>
                    <span>{{survey.challengersPool3URL}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.numberOfMatches">Number Of Matches</span></dt>
                <dd>
                    <span>{{survey.numberOfMatches}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.matchesDescription">Matches Description</span></dt>
                <dd>
                    <span>{{survey.matchesDescription}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.open">Open</span></dt>
                <dd>
                    <span>{{survey.open}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{'biodifulApp.Language.' + survey.language}}">{{survey.language}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.survey.withRemise">With Remise</span></dt>
                <dd>
                    <span>{{survey.withRemise}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/survey', survey.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
