<div class="footer">
    <div class="row justify-content-md-center py-3">
            <div class="col-md">
                <a href="http://www.labex-cemeb.org/" target="_blank">
                    <img src="/content/images/home/cemeb-logo.jpeg" class="img-fluid mx-auto d-block rounded footer-logo" height="100px" />
                </a>
            </div>
            <div class="col-md">
                <a href="https://www.cnrs.fr/" target="_blank">
                    <img src="/content/images/home/cnrs-logo.jpeg" class="img-fluid mx-auto d-block rounded footer-logo" height="100px" />
                </a>
            </div>
            <div class="col-md">
                <a href="http://www.umr-marbec.fr" target="_blank">
                    <img src="/content/images/home/marbec-logo.jpg" class="img-fluid mx-auto d-block rounded footer-logo" height="100px" />
                </a>
            </div>
            <div class="col-md">
                <a href="https://www.umontpellier.fr/" target="_blank">
                    <img src="/content/images/home/uni-montpellier-logo.png" class="img-fluid mx-auto d-block rounded footer-logo" height="100px" />
                </a>
            </div>
            <div class="col-md">
                <a href="https://www.cefe.cnrs.fr" target="_blank">
                    <img src="/content/images/home/cefe-logo.png" class="img-fluid mx-auto d-block rounded footer-logo" height="100px" />
                </a>
            </div>
            <div class="col-md d-flex align-items-center" [ngSwitch]="this.router.url === '/about'">
                <a *ngSwitchCase="true" class="btn btn-light" [routerLink]="['/']" jhiTranslate="global.menu.home">
                    Home
                </a>
                <a *ngSwitchDefault class="btn btn-light" [routerLink]="['/about']" jhiTranslate="home.more">
                    En savoir plus...
                </a>
            </div>
        </div>
</div>
