@switch (mediaType()) {
  @case ('IMAGE') {
    <!-- Existing image display with click handlers -->
    <div class="row">
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <img class="challenger" [src]="challengerOne()!.url" [alt]="challengerOne()!.id" (click)="challengerClicked(challengerOne()!)" />
      </div>
      <div class="col-12 col-md-6">
        <img class="challenger" [src]="challengerTwo()!.url" [alt]="challengerTwo()!.id" (click)="challengerClicked(challengerTwo()!)" />
      </div>
    </div>
  }

  @case ('VIDEO') {
    <div class="row">
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <video
          [src]="challengerOne()!.url"
          controls
          playsinline
          poster="/content/images/video.png"
          [autoplay]="randomPlayOrder() === 'LEFT'"
          (timeupdate)="onLeftTimeUpdate($event)"
          class="w-100 video-player"
        ></video>
        <button
          class="btn btn-primary w-100 mt-2"
          [disabled]="!canSubmit()"
          (click)="selectLeft()"
          jhiTranslate="biodifulApp.answer.match.chooseVideo"
        >
          Choose this video
        </button>
      </div>
      <div class="col-12 col-md-6">
        <video
          [src]="challengerTwo()!.url"
          controls
          playsinline
          poster="/content/images/video.png"
          [autoplay]="randomPlayOrder() === 'RIGHT'"
          (timeupdate)="onRightTimeUpdate($event)"
          class="w-100 video-player"
        ></video>
        <button
          class="btn btn-primary w-100 mt-2"
          [disabled]="!canSubmit()"
          (click)="selectRight()"
          jhiTranslate="biodifulApp.answer.match.chooseVideo"
        >
          Choose this video
        </button>
      </div>
    </div>
  }

  @case ('AUDIO') {
    <div class="row">
      <div class="col-12 col-md-6 mb-3 mb-md-0 text-center">
        <div class="audio-placeholder mb-3">
          <fa-icon icon="headphones"></fa-icon>
        </div>
        <audio
          [src]="challengerOne()!.url"
          controls
          [autoplay]="randomPlayOrder() === 'LEFT'"
          (timeupdate)="onLeftTimeUpdate($event)"
          class="w-100"
        ></audio>
        <button
          class="btn btn-primary w-100 mt-2"
          [disabled]="!canSubmit()"
          (click)="selectLeft()"
          jhiTranslate="biodifulApp.answer.match.chooseAudio"
        >
          Choose this audio
        </button>
      </div>
      <div class="col-12 col-md-6 text-center">
        <div class="audio-placeholder mb-3">
          <fa-icon icon="headphones"></fa-icon>
        </div>
        <audio
          [src]="challengerTwo()!.url"
          controls
          [autoplay]="randomPlayOrder() === 'RIGHT'"
          (timeupdate)="onRightTimeUpdate($event)"
          class="w-100"
        ></audio>
        <button
          class="btn btn-primary w-100 mt-2"
          [disabled]="!canSubmit()"
          (click)="selectRight()"
          jhiTranslate="biodifulApp.answer.match.chooseAudio"
        >
          Choose this audio
        </button>
      </div>
    </div>
  }
}
