<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span jhiTranslate="biodifulApp.answer.detail.title">Answer</span> {{answer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="biodifulApp.answer.judgeID">Judge ID</span></dt>
                <dd>
                    <span>{{answer.judgeID}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.challenger1">Challenger 1</span></dt>
                <dd>
                    <span>{{answer.challenger1}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.challenger2">Challenger 2</span></dt>
                <dd>
                    <span>{{answer.challenger2}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.winner">Winner</span></dt>
                <dd>
                    <span>{{answer.winner}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.startTime">Start Time</span></dt>
                <dd>
                    <span>{{answer.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.endTime">End Time</span></dt>
                <dd>
                    <span>{{answer.endTime}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.poolNumber">Pool Number</span></dt>
                <dd>
                    <span>{{answer.poolNumber}}</span>
                </dd>
                <dt><span jhiTranslate="biodifulApp.answer.survey">Survey</span></dt>
                <dd>
                    <div *ngIf="answer.surveyId">
                        <a [routerLink]="['/survey', answer.surveyId, 'view']">{{answer.surveyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
