jhi-navbar {
  display: none;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:focus,
.btn-facebook.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open > .dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open > .dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open > .dropdown-toggle.btn-facebook.focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff;
}

.btn-xsocial {
  color: #e7e9ea;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-xsocial:focus,
.btn-xsocial.focus {
  color: #e7e9ea;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-xsocial:hover {
  color: #e7e9ea;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-xsocial:active,
.btn-xsocial.active,
.open > .dropdown-toggle.btn-xsocial {
  color: #e7e9ea;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-xsocial:active:hover,
.btn-xsocial.active:hover,
.open > .dropdown-toggle.btn-xsocial:hover,
.btn-xsocial:active:focus,
.btn-xsocial.active:focus,
.open > .dropdown-toggle.btn-xsocial:focus,
.btn-xsocial:active.focus,
.btn-xsocial.active.focus,
.open > .dropdown-toggle.btn-xsocial.focus {
  color: #e7e9ea;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-xsocial:active,
.btn-xsocial.active,
.open > .dropdown-toggle.btn-xsocial {
  background-image: none;
}
.btn-xsocial.disabled:hover,
.btn-xsocial[disabled]:hover,
fieldset[disabled] .btn-xsocial:hover,
.btn-xsocial.disabled:focus,
.btn-xsocial[disabled]:focus,
fieldset[disabled] .btn-xsocial:focus,
.btn-xsocial.disabled.focus,
.btn-xsocial[disabled].focus,
fieldset[disabled] .btn-xsocial.focus {
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-xsocial .badge {
  color: #000000;
  background-color: #e7e9ea;
}

.btn-facebook {
  background-color: #343a41;
}
