@if (survey.photoURL && survey.photoURL.length > 0) {
  <div class="row justify-content-center row-1">
    <div class="col-md-12">
      <!-- <div class="survey-photo" [style.background-image]="'url(' + survey.photoURL + ')'"></div> -->
      <div class="survey-img-wrapper">
        <img class="survey-img" [src]="survey.photoURL" />
      </div>
    </div>
  </div>
}
<div class="row justify-content-center p-2 row-2">
  <div class="col-md-8">
    <h1 id="jhi-survey-heading survey-name">{{ survey.surveyName }}</h1>
    <div [innerHTML]="survey.surveyDescription" class="justify-content-center survey-description"></div>
  </div>
  @if (survey.logosURL && survey.logosURL.length > 0) {
    <div class="col-md-4 logos-col">
      <img [src]="survey.logosURL" class="img-fluid rounded survey-logos" />
    </div>
  }
</div>
<div class="row justify-content-center row-3">
  <div class="col-md-6">
    @if (survey.open || account() !== null) {
      <div class="start-survey">
        <button class="btn btn-primary p-3" [routerLink]="['/survey', survey.id, 'answer']">
          <fa-icon icon="list"></fa-icon>&nbsp;<span jhiTranslate="biodifulApp.survey.answer">Répondre à la campagne</span>
        </button>
      </div>
    }
    @if (!survey.open) {
      <div class="row justify-content-center">
        <div class="alert alert-warning survey-closed" jhiTranslate="biodifulApp.survey.closedSurvey">
          Cette campagne est actuellement fermée.
        </div>
      </div>
    }
    <div class="alert alert-info survey-total-answers" role="alert">
      <span class="font-weight-bold">{{ surveyJudgesCount }}</span>
      <span jhiTranslate="biodifulApp.survey.judgesCount">personnes ont déjà participé !</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="share-survey" jhiTranslate="biodifulApp.survey.share">Aidez nous à faire circuler cette étude:</div>
    <div class="share-survey-links">
      <!-- <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbiodiful.org%2F%23%2FRecifsCorail&amp;src=sdkpreparse" class="btn btn-social btn-facebook m-2"> -->
      <a target="_blank" [href]="getFacebookUrl()" class="btn btn-social btn-facebook m-2">
        <span class="fab fa-facebook"></span>
        Facebook
      </a>
      <a target="_blank" class="btn btn-social btn-twitter m-2" [href]="getTwitterUrl()">
        <span class="fab fa-twitter"></span>
        Twitter
      </a>
      <a class="btn btn-primary m-2" [href]="getMailToHref()" target="_top">
        <fa-icon icon="envelope"></fa-icon>&nbsp;
        <span>Mail</span>
      </a>
    </div>
  </div>
</div>

@if (survey.contactsDescription && survey.contactsDescription.length > 0) {
  <div class="row row-4">
    <div class="col-md survey-contacts" [innerHTML]="survey.contactsDescription"></div>
  </div>
}
