<div class="row justify-content-center p-2">
    <div class="col-md">
        <h2 id="jhi-survey-heading">{{survey.surveyName}}</h2>
        <div [innerHTML]="survey.surveyDescription" class="justify-content-center"></div>
    </div>
    <div *ngIf="survey.photoURL && survey.photoURL.length > 0" class="col-sm">
        <span><img [src]="survey.photoURL" class="img-fluid rounded float-right" /></span>
    </div>
</div>
<div class="row justify-content-center p-2">
    <div class="alert alert-info" role="alert">
        <span class="font-weight-bold">{{this.surveyJudgesCount}}</span>
        <span jhiTranslate="biodifulApp.survey.judgesCount">personnes ont déjà participé !</span>
    </div>
</div>
<div *ngIf="! this.survey.open" class="row justify-content-center">
    <div class="alert alert-warning" jhiTranslate="biodifulApp.survey.closedSurvey">Cette campagne est actuellement fermée.</div>
</div>
<div *ngIf="this.survey.open || isAuthenticated()" class="row justify-content-center p-2">
    <button class="btn btn-primary p-3" [routerLink]="['/survey', survey.id, 'answer']">
        <fa-icon [icon]="'list'"></fa-icon>&nbsp;<span jhiTranslate="biodifulApp.survey.answer">Répondre a la campagne</span>
    </button>
</div>
<div *ngIf="survey.contactsDescription && survey.contactsDescription.length > 0" class="row">
    <div class="col-md" [innerHTML]="survey.contactsDescription"></div>
</div>
<div *ngIf="survey.logosURL && survey.logosURL.length > 0" class="row justify-content-center p-2">
    <img [src]="survey.logosURL" class="img-fluid rounded" />
</div>
