<div class="row justify-content-center p-2">
    <div class="col-md">
        <h2 id="jhi-survey-heading">{{survey.surveyName}}</h2>
        <div [innerHTML]="survey.surveyDescription" class="justify-content-center"></div>
    </div>
    <div *ngIf="survey.photoURL && survey.photoURL.length > 0" class="col-sm">
        <span><img [src]="survey.photoURL" class="img-fluid rounded float-right" /></span>
    </div>
</div>
<div class="row justify-content-center p-2">
    <div class="alert alert-info" role="alert" jhiTranslate="biodifulApp.survey.judgesCount" translateValues="{judgesCount: '{{this.surveyJudgesCount}}'}">n personnes ont déjà participé !</div>
</div>
<div class="row justify-content-center p-2">
    <button class="btn btn-primary" [routerLink]="['/survey', survey.id, 'answer']">
        <fa-icon [icon]="'list'"></fa-icon>&nbsp;<span jhiTranslate="biodifulApp.survey.answer">Répondre a la campagne</span>
    </button>
</div>
<div *ngIf="survey.contactsDescription && survey.contactsDescription.length > 0" class="row">
    <div class="col-md" [innerHTML]="survey.contactsDescription"></div>
</div>
<div *ngIf="survey.logosURL && survey.logosURL.length > 0" class="row justify-content-center p-2">
    <img [src]="survey.logosURL" class="img-fluid rounded" />
</div>
