<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (survey(); as surveyRef) {
      <div>
        <h2 data-cy="surveyDetailsHeading"><span jhiTranslate="biodifulApp.survey.detail.title">Survey</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ surveyRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.surveyName">Survey Name</span></dt>
          <dd>
            <span>{{ surveyRef.surveyName }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.surveyDescription">Survey Description</span></dt>
          <dd>
            <span>{{ surveyRef.surveyDescription }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.contactsDescription">Contacts Description</span></dt>
          <dd>
            <span>{{ surveyRef.contactsDescription }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.friendlyURL">Friendly URL</span></dt>
          <dd>
            <span>{{ surveyRef.friendlyURL }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.photoURL">Photo URL</span></dt>
          <dd>
            <span>{{ surveyRef.photoURL }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.logosURL">Logos URL</span></dt>
          <dd>
            <span>{{ surveyRef.logosURL }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.formURL">Form URL</span></dt>
          <dd>
            <span>{{ surveyRef.formURL }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.challengersPools.title">Challenger Pools</span></dt>
          <dd>
            @if (surveyRef.challengerPools && surveyRef.challengerPools.length > 0) {
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th jhiTranslate="biodifulApp.survey.challengersPools.order">Order</th>
                      <th jhiTranslate="biodifulApp.survey.challengersPools.url">URL</th>
                      <th jhiTranslate="biodifulApp.survey.challengersPools.numberOfMatches">Number Of Matches</th>
                      <th jhiTranslate="biodifulApp.survey.challengersPools.description">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (pool of surveyRef.challengerPools; track pool.id) {
                      <tr>
                        <td>{{ pool.poolOrder }}</td>
                        <td>{{ pool.challengersURL }}</td>
                        <td>{{ pool.numberOfMatches }}</td>
                        <td>{{ pool.matchesDescription }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            } @else {
              <span class="text-muted" jhiTranslate="biodifulApp.survey.noPools">No pools defined</span>
            }
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.open">Open</span></dt>
          <dd>
            <span>{{ surveyRef.open }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.language">Language</span></dt>
          <dd>
            <span [jhiTranslate]="'biodifulApp.Language.' + (surveyRef.language ?? 'null')">{{
              { null: '', FR: 'FR', EN: 'EN', ES: 'ES' }[surveyRef.language ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="biodifulApp.survey.uniqueChallengers">Unique Challengers</span></dt>
          <dd>
            <span>{{ surveyRef.uniqueChallengers }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/survey', surveyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
