<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-survey-heading" data-cy="SurveyCreateUpdateHeading" jhiTranslate="biodifulApp.survey.home.createOrEditLabel">
        Create or edit a Survey
      </h2>

      <div>
        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="biodifulApp.survey.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let surveyNameRef = editForm.get('surveyName')!;
        <div class="mb-3">
          <label class="form-label" for="field_surveyName" jhiTranslate="biodifulApp.survey.surveyName">Survey Name</label>
          <input
            type="text"
            class="form-control"
            name="surveyName"
            id="field_surveyName"
            data-cy="surveyName"
            formControlName="surveyName"
          />
          @if (surveyNameRef.invalid && (surveyNameRef.dirty || surveyNameRef.touched)) {
            <div>
              @if (editForm.get('surveyName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let surveyDescriptionRef = editForm.get('surveyDescription')!;
        <div class="mb-3">
          <label class="form-label" for="field_surveyDescription" jhiTranslate="biodifulApp.survey.surveyDescription"
            >Survey Description</label
          >
          <!-- <div class="alert alert-warning">La 1ere phrase de la description est importante car elles est utilisé par la fonctionnalité de partage Facebook. Cette première phrase doit donc décrire la campagne de manière succincte (ne pas dépasser 300 characteres).</div> -->
          <angular-editor
            [config]="angularEditorConfig"
            class="form-control"
            name="surveyDescription"
            id="field_surveyDescription"
            data-cy="surveyDescription"
            formControlName="surveyDescription"
          ></angular-editor>
          @if (surveyDescriptionRef.invalid && (surveyDescriptionRef.dirty || surveyDescriptionRef.touched)) {
            <div>
              @if (editForm.get('surveyDescription')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" ngbTooltip="Description des personnes a contacter pour plus d’information sur cette campagne">
          <label class="form-label" for="field_contactsDescription" jhiTranslate="biodifulApp.survey.contactsDescription"
            >Contacts Description</label
          >
          <div class="alert alert-info" role="alert">Description des personnes a contacter pour plus d’information sur cette campagne</div>
          <angular-editor
            [config]="angularEditorConfig"
            class="form-control"
            name="contactsDescription"
            id="field_contactsDescription"
            data-cy="contactsDescription"
            formControlName="contactsDescription"
          ></angular-editor>
        </div>

        @let friendlyURLRef = editForm.get('friendlyURL')!;
        <div
          class="mb-3"
          ngbTooltip="Sous partie de l’URL après le nom de domaine pour que les visiteurs accèdent a cette campagne: www.biodiful.org/#/|friendlyURL|"
        >
          <label class="form-label" for="field_friendlyURL" jhiTranslate="biodifulApp.survey.friendlyURL">Friendly URL</label>
          <div class="alert alert-info" role="alert">
            Sous partie de l’URL après le nom de domaine pour que les visiteurs accèdent a cette campagne: www.biodiful.org/#/|friendlyURL|
          </div>
          <div class="alert alert-warning">Doit être unique et contenir uniquement des caractères alphanumériques sans espaces</div>
          <input
            type="text"
            class="form-control"
            name="friendlyURL"
            id="field_friendlyURL"
            data-cy="friendlyURL"
            formControlName="friendlyURL"
          />
          @if (friendlyURLRef.invalid && (friendlyURLRef.dirty || friendlyURLRef.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3" ngbTooltip="URL de la photo à afficher à côté de la description de la campagne dans la page de présentation">
          <label class="form-label" for="field_photoURL" jhiTranslate="biodifulApp.survey.photoURL">Photo URL</label>
          <div class="alert alert-info" role="alert">
            URL de la photo à afficher à côté de la description de la campagne dans la page de présentation
          </div>
          <input type="text" class="form-control" name="photoURL" id="field_photoURL" data-cy="photoURL" formControlName="photoURL" />
        </div>

        <div class="mb-3" ngbTooltip="URL de la photo avec les différents logos des organisateurs de cette campagne">
          <label class="form-label" for="field_logosURL" jhiTranslate="biodifulApp.survey.logosURL">Logos URL</label>
          <div class="alert alert-info" role="alert">URL de la photo avec les différents logos des organisateurs de cette campagne</div>
          <input type="text" class="form-control" name="logosURL" id="field_logosURL" data-cy="logosURL" formControlName="logosURL" />
        </div>

        @let formURLRef = editForm.get('formURL')!;
        <div
          class="mb-3"
          ngbTooltip="URL du questionnaire socio-professionnel Google Form (doit contenir un parametre &entry.xxx= afin de passer l'identifiant du juge)"
        >
          <label class="form-label" for="field_formURL" jhiTranslate="biodifulApp.survey.formURL">Form URL</label>
          <div class="alert alert-info" role="alert">
            URL du questionnaire socio-professionnel Google Form (doit contenir un parametre &entry.xxx= afin de passer l'identifiant du
            juge)
          </div>
          <input type="text" class="form-control" name="formURL" id="field_formURL" data-cy="formURL" formControlName="formURL" />
          @if (formURLRef.invalid && (formURLRef.dirty || formURLRef.touched)) {
            <div>
              @if (editForm.get('formURL')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <!-- Challenger Pools - Dynamic FormArray -->
        <div class="mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Challenger Pools</h4>
            <button type="button" class="btn btn-success" (click)="addChallengerPool()" data-cy="addPoolButton">
              <fa-icon icon="plus"></fa-icon> <span jhiTranslate="biodifulApp.survey.challengersPools.addPool">Add Pool</span>
            </button>
          </div>

          @if (challengerPoolsFormArray.controls.length === 0) {
            <div class="alert alert-info" jhiTranslate="biodifulApp.survey.challengersPools.noPoolsYet">
              No pools added yet. Click "Add Pool" to create the first challenger pool.
            </div>
          }

          @for (poolControl of challengerPoolsFormArray.controls; track $index) {
            @let poolIndex = $index;
            @let poolFormGroup = poolControl;
            <div class="card mb-3" [formGroup]="poolFormGroup">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Pool {{ poolIndex + 1 }}</h5>
                @if (challengerPoolsFormArray.controls.length > 1) {
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeChallengerPool(poolIndex)"
                    [attr.data-cy]="'removePoolButton-' + poolIndex"
                  >
                    <fa-icon icon="trash-alt"></fa-icon>&nbsp;<span jhiTranslate="biodifulApp.survey.challengersPools.removePool"
                      >Remove</span
                    >
                  </button>
                }
              </div>
              <div class="card-body">
                <!-- Challengers URL -->
                @let challengersURLRef = poolFormGroup.get('challengersURL')!;
                <div class="mb-3" ngbTooltip="URL du dossier S3 contenant les images à afficher lors des matches">
                  <label
                    class="form-label"
                    [attr.for]="'field_challengersURL_' + poolIndex"
                    jhiTranslate="biodifulApp.survey.challengersPools.url"
                  >
                    Challengers URL
                  </label>
                  <div class="alert alert-info" role="alert">
                    URL du dossier S3 contenant les images à afficher lors des matches. Format:
                    https://bucket-name.s3.region.provider.com/folder/
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    [attr.name]="'challengersURL_' + poolIndex"
                    [attr.id]="'field_challengersURL_' + poolIndex"
                    [attr.data-cy]="'challengersURL-' + poolIndex"
                    formControlName="challengersURL"
                    placeholder="https://my-bucket.s3.fr-par.scw.cloud/survey-1/pool-1/"
                  />
                  @if (challengersURLRef.invalid && (challengersURLRef.dirty || challengersURLRef.touched)) {
                    <div>
                      @if (challengersURLRef.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                      }
                    </div>
                  }
                </div>

                <!-- Number of Matches -->
                @let numberOfMatchesRef = poolFormGroup.get('numberOfMatches')!;
                <div class="mb-3" ngbTooltip="Nombre de matches à effectuer pour cette Pool d'images">
                  <label
                    class="form-label"
                    [attr.for]="'field_numberOfMatches_' + poolIndex"
                    jhiTranslate="biodifulApp.survey.challengersPools.numberOfMatches"
                  >
                    Number Of Matches
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    [attr.name]="'numberOfMatches_' + poolIndex"
                    [attr.id]="'field_numberOfMatches_' + poolIndex"
                    [attr.data-cy]="'numberOfMatches-' + poolIndex"
                    formControlName="numberOfMatches"
                  />
                  @if (numberOfMatchesRef.invalid && (numberOfMatchesRef.dirty || numberOfMatchesRef.touched)) {
                    <div>
                      @if (numberOfMatchesRef.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                      }
                      @if (numberOfMatchesRef.errors?.number) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.number">This field should be a number.</small>
                      }
                    </div>
                  }
                </div>

                <!-- Matches Description -->
                @let matchesDescriptionRef = poolFormGroup.get('matchesDescription')!;
                <div class="mb-3" ngbTooltip="Description à afficher au dessus des deux photos lors d'un match pour cette Pool">
                  <label
                    class="form-label"
                    [attr.for]="'field_matchesDescription_' + poolIndex"
                    jhiTranslate="biodifulApp.survey.challengersPools.description"
                  >
                    Matches Description
                  </label>
                  <angular-editor
                    [config]="angularEditorConfig"
                    class="form-control"
                    [attr.name]="'matchesDescription_' + poolIndex"
                    [attr.id]="'field_matchesDescription_' + poolIndex"
                    [attr.data-cy]="'matchesDescription-' + poolIndex"
                    formControlName="matchesDescription"
                  ></angular-editor>
                  @if (matchesDescriptionRef.invalid && (matchesDescriptionRef.dirty || matchesDescriptionRef.touched)) {
                    <div>
                      @if (matchesDescriptionRef.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                      }
                    </div>
                  }
                </div>

                <!-- Introduction Message -->
                <div class="mb-3" ngbTooltip="Message d'introduction à afficher avant que l'utilisateur commence à répondre à cette Pool">
                  <label
                    class="form-label"
                    [attr.for]="'field_introductionMessage_' + poolIndex"
                    jhiTranslate="biodifulApp.survey.challengersPools.introductionMessage"
                  >
                    Introduction Message
                  </label>
                  <angular-editor
                    [config]="angularEditorConfig"
                    class="form-control"
                    [attr.name]="'introductionMessage_' + poolIndex"
                    [attr.id]="'field_introductionMessage_' + poolIndex"
                    [attr.data-cy]="'introductionMessage-' + poolIndex"
                    formControlName="introductionMessage"
                  ></angular-editor>
                </div>
              </div>
            </div>
          }
        </div>

        @let openRef = editForm.get('open')!;
        <div class="mb-3" ngbTooltip="Indique si la campagne est ouverte et que les visiteurs peuvent y répondre">
          <label class="form-label" for="field_open" jhiTranslate="biodifulApp.survey.open">Open</label>
          <input type="checkbox" class="form-check" name="open" id="field_open" data-cy="open" formControlName="open" />
          @if (openRef.invalid && (openRef.dirty || openRef.touched)) {
            <div>
              @if (editForm.get('open')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let languageRef = editForm.get('language')!;
        <div
          class="mb-3"
          ngbTooltip="Langue dans laquel est la campagne (EN, FR ou ES pour Anglais, Français ou Espagnole) afin de changer automatiquement la langue de l’application lorsqu’un visiteur se rends sur la page de présentation de la campagne."
        >
          <label class="form-label" for="field_language" jhiTranslate="biodifulApp.survey.language">Language</label>
          <select class="form-control" name="language" formControlName="language" id="field_language" data-cy="language">
            <option [ngValue]="null">{{ 'biodifulApp.Language.null' | translate }}</option>
            @for (language of languageValues; track $index) {
              <option [value]="language">{{ 'biodifulApp.Language.' + language | translate }}</option>
            }
          </select>
          @if (languageRef.invalid && (languageRef.dirty || languageRef.touched)) {
            <div>
              @if (editForm.get('language')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let uniqueChallengersRef = editForm.get('uniqueChallengers')!;
        <div
          class="mb-3"
          ngbTooltip="Indique que les challengers ne doivent apparaître qu'une seule fois lors des matches présentés au visiteurs qui répondent à une campagne (tirage sans remise)"
        >
          <label class="form-label" for="field_uniqueChallengers" jhiTranslate="biodifulApp.survey.uniqueChallengers"
            >Unique Challengers</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="uniqueChallengers"
            id="field_uniqueChallengers"
            data-cy="uniqueChallengers"
            formControlName="uniqueChallengers"
          />
          @if (uniqueChallengersRef.invalid && (uniqueChallengersRef.dirty || uniqueChallengersRef.touched)) {
            <div>
              @if (editForm.get('uniqueChallengers')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
