<jhi-alert-error></jhi-alert-error>
@if (showPoolIntroduction()) {
  <jhi-survey-answer-pool-intro
    [poolNumber]="currentPoolIndex + 1"
    [introductionMessage]="getIntroductionForCurrentPool()"
    (startPool)="onPoolIntroductionStart()"
  ></jhi-survey-answer-pool-intro>
} @else if (challengerOne() && challengerTwo() && !isAllMatchesCompleted()) {
  <div [innerHTML]="getDescriptionForCurrentPool()"></div>

  <jhi-survey-answer-match
    [challengerOne]="challengerOne()!"
    [challengerTwo]="challengerTwo()!"
    (winnerSelected)="addWinner($event)"
  ></jhi-survey-answer-match>

  <div class="progress mt-4" style="height: 20px">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width.%]="getPercentAdvancement()"
      [attr.aria-valuenow]="getCurrentMatchNumber()"
      aria-valuemin="1"
      [attr.aria-valuemax]="totalNbOfMatches"
    >
      {{ getCurrentMatchNumber() }} / {{ totalNbOfMatches }}
    </div>
  </div>
} @else {
  <div class="d-flex justify-content-center">
    <img src="/content/images/loader.gif" />
  </div>
}
