/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ==========================================================================
Biodiful Bespoke CSS
========================================================================== */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: #2f2f30;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    max-width: 1280px !important;
}

.container-fluid.survey-answer {
    max-width: inherit !important;
}

.card.jh-card {
    padding: 70px;
    padding-top: 40px;
    border-radius: 20px;
}

b,
strong {
    font-weight: bolder;
    color: #33839c;
}

.footer {
    /* border-top: 1px solid rgba(0,0,0,.125); */
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
}

h1,
#jhi-survey-heading survey-name {
    font-family: 'Roboto', sans-serif;

    font-weight: 100 !important;
    /* background-color: #000; */
    color: #33839c;
    font-size: 50px;
    padding-bottom: 35px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100 !important;
    /* background-color: #000; */
    color: #33839c;
    font-size: 50px;
}

.col-md.survey-contacts {
    border-top: 1px solid #33839c;
    padding-top: 40px;
}

.container-fluid.survey-presentation button.btn.btn-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #33839c;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    font-size: 25px;
    line-height: 36px;
    border: 0px !important;
}

.container-fluid.survey-presentation button.btn.btn-primary:hover {
    background-color: #64bcd6;
}

div.share-survey {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: solid 2px #33839c !important;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    font-size: 25px;
    line-height: 36px;
    /* border: 0px!important; */
    display: block;
    width: auto;
    /* background-color: #eaeaea; */
    border: 2px solid #000;
    text-align: center;
    color: #33839c;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-position: center;
}
.container-fluid.survey-presentation button.btn.btn-primary fa-icon.ng-fa-icon {
    display: none;
}

.jh-navbar {
    background-color: #33839c !important;
}
.jh-navbar[_ngcontent-c3] {
    background-color: #33839c !important;
    padding: 0.2em 1em;
}

span.navbar-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

span.navbar-version {
    color: #bad5dd !important;
}

.start-survey {
    text-align: center;
}
.share-survey-links {
    text-align: center;
}
.alert.alert-info.survey-total-answers {
    background-color: transparent;
    border: 0px;
    text-align: center;
    color: #33839c !important;
}
div.survey-photo {
    width: 100% !important;
    background-color: #efefef;
    border-radius: 25px !important;
    background-size: cover;
    display: block;
    height: 190px;
    max-width: auto !important;
    position: relative !important;
    width: 100% !important;
    margin-bottom: 40px !important;
}

/* image normale avec arrondi par style suivant */

.survey-img {
    width: 100%;
}

.survey-img-wrapper {
    border-radius: 25px !important;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 0px !important;
    padding: 0px !important;
    margin-bottom: 15px !important;
}

img.img-fluid.rounded.survey-logos {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.survey-description {
    padding-bottom: 40px;
}

.logos-col {
    background-color: #eef5f7;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 40px;
}

.row-3 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.share-survey-links {
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 992px) {
    .jh-logo-container[_ngcontent-c3] {
        width: inherit;
    }
}

@media screen and (max-width: 640px) {
    .card.jh-card {
        padding: 10px !important;
        padding-top: 10px !important;
    }
    #jhi-survey-heading survey-name,
    h1,
    h3 {
        font-size: 30px !important;
    }

    .container-fluid.survey-presentation button.btn.btn-primary {
        font-size: 18px !important;
    }

    div.share-survey {
        font-size: 15px !important;
        line-height: 20px !important;
    }

    body {
        font-size: 17px !important;
        line-height: 24px !important;
    }

    #jhi-survey-heading survey-name,
    h1 {
        padding-bottom: 15px !important;
    }

    span.navbar-version {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .card.jh-card {
        padding: 50px !important;
        padding-top: 40px !important;
    }
}

/* Custom rules for Mobile */

.lead {
    margin-left: 15px;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
